# Runtime requirements

apache-tvm-ffi~=0.1.0,>=0.1.2
torch-c-dlpack-ext; python_version < '3.14'
cloudpickle
ml-dtypes
numpy>=1.23.5
psutil
torch
torch>=2.7; platform_system == 'Darwin'
tqdm>=4.62.3
typing-extensions>=4.10.0
z3-solver>=4.13.0,<4.15.5
